//cd git/JSA/styles
//sass --watch scss/mystyle.scss:css/mystyle.css
//global
$themblue: #020372;
$themered: #ed2939;
$grayaswhite: #f2f2f2;
$byu: #002040;
$byui: #0076B6;
$byuh: #90132b;
$footer-height: 100px;
$header-height: 55px;

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $footer-height;
    height: 100%;
}

footer {
    position: relative;
    width: 100%;
    height: $footer-height;
    background-color: $byu;
    color: $grayaswhite;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: none;
    color: $grayaswhite;
    position: relative;
    margin-bottom: -$header-height;
    z-index: 2;

    .col-md-12 {
        padding: 0;
        img#logo {
            height:33px;
            margin: 0;
        }

        .navbar-toggler {
            background-color: $grayaswhite;

            .navbar-toggler-icon {
                color: black;
            }
        }

        .nav-link.menu {
            &.active {
                border-bottom: 3px solid $themblue;
            }

            &:hover {
                border-bottom: 3px solid $grayaswhite;
            }
        }
    }
}
//loader-container

#loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $grayaswhite;
    color: $themblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

#loader {
    display: block;
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid $themblue;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
//global

a:not(.link) {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.no-bullet {
    list-style-type: none;

    li > p {
        margin: 0;
    }
}

.row {
    margin: 0;
}

.page {
    z-index: 1;

    hr.sub-heading-underline {
        border: 2px solid $themblue;
        width: 70px;
        margin: 0 0 30px;
    }
}

.bg-none {
    background-color: none;
    padding: 40px;

    .sub-heading {
        font-size: 30px;
        color: $grayaswhite;
        text-shadow: 2px 2px 3px $themblue;
        font-weight: bold;
    }
}

.bg-gray {
    background-color: $grayaswhite;
    padding: 40px;

    .sub-heading {
        font-size: 30px;
        color: $themblue;
        text-shadow: 2px 2px 3px $grayaswhite;
        font-weight: bold;
    }
}
//about

body {
    .row {
        .no-bullet {
            font-size: 22px;
        }

        &.page {
            padding: 3% 0 0;

            .row.bar {
                margin: 0 0 3%;

                .container {
                    input,
                    select {
                        border: none;
                        border-radius: 0.25rem;
                        height: 35px;
                        width: 300px;
                        box-shadow: 0 0 30px $themblue;
                        padding: 0 40px;
                    }

                    .fa {
                        padding: 1.2%;
                        font-size: 20px;
                        color: $grayaswhite;
                        position: absolute;
                        left: 35px;
                        width: 35px;
                        height: 35px;
                    }
                }
            }

            .row:not(.bar) {
                height: calc(100% - #{$header-height});
                position: relative;

                .col-md-12 {
                    &#jsrender{
                        border-style: solid;
                        border-color: $grayaswhite;
                        border-width: 0 2px 2px 2px;
                    }
                    .year {
                        color: $grayaswhite;
                        font-size: 25px;
                        margin: 2% 1%;
                    }

                    ul {
                        padding: 0;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;
                        flex-wrap: wrap;

                        li.person {
                            color: black;
                            background-color: $grayaswhite;
                            box-shadow: 0 0 30px $themblue;
                            width: 23%;
                            min-width: 297px;
                            min-height: 160px;
                            height: auto;
                            list-style-type: none;
                            display: inline-block;
                            position: relative;
                            padding: 10px 5px 0;
                            margin: 0 1% 3%;

                            .overlay {
                                display: none;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background-color: rgba(0, 0, 0, 0.7);

                                .container {
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: row;

                                    .fa {
                                        padding: 20px;
                                        font-size: 20px;
                                        width: 30px;
                                        height: 30px;
                                        text-align: center;
                                        text-decoration: none;
                                        border-radius: 10px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin: 3%;
                                        color: $grayaswhite;
                                        border: 2px solid $grayaswhite;

                                        &.fa-facebook {
                                            &:hover {
                                                background: #3B5998;
                                                color: $grayaswhite;
                                                border: 2px solid #3B5998;
                                            }
                                        }

                                        &.fa-linkedin {
                                            &:hover {
                                                background: #007bb5;
                                                color: $grayaswhite;
                                                border: 2px solid #007bb5;
                                            }
                                        }
                                    }
                                }
                            }

                            .row {
                                height: 100%;

                                .col-md-4 {
                                    padding: 0;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .col-md-8 {
                                    h4 {
                                        &.name {
                                            color: $themblue;
                                            font-size: 22px;
                                            padding: 0 0 3%;
                                        }
                                    }

                                    table {
                                        font-size: 14px;

                                        tr {
                                            text-align: left;

                                            td {
                                                min-width: 70px;

                                                &.cell-left {
                                                    font-weight: bold;
                                                    color: $themblue;
                                                    vertical-align: top;
                                                    padding: 0 0 0 5%;
                                                }

                                                &.cell-right {
                                                    padding: 0 0 0 10%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        li.job {
                            color: black;
                            background-color: $grayaswhite;
                            box-shadow: 0 0 30px $themblue;
                            // width: 23%;
                            width: 48%;
                            min-width: 297px;
                            min-height: 155px;
                            height: auto;
                            list-style-type: none;
                            margin: 0 1% 3%;
                            display: table;

                            div {
                                display: table-row;

                                .summary {
                                    padding: 3%;
                                    height: auto;
                                    display: table-cell;

                                    h2.company {
                                        color: $themblue;
                                        font-size: 22px;
                                        padding: 0 0 3%;
                                        margin: 0;
                                        padding: 0;
                                    }

                                    h3.title {
                                        color: $themblue;
                                        font-size: 20px;
                                        padding: 0 0 3% 5%;
                                        margin: 5% 0 0;
                                    }

                                    table {
                                        font-size: 14px;
                                        width: 80%;
                                        margin: 5% auto 0;

                                        tr {
                                            text-align: left;

                                            td {
                                                padding: 1px 0;

                                                &.cell-left {
                                                    font-weight: bold;
                                                    color: $themblue;
                                                    vertical-align: top;
                                                }

                                                &.cell-right {}
                                            }
                                        }
                                    }
                                }

                                .detail {
                                    display: table-cell;
                                    // display: none;
                                    background-color: $themblue;
                                    color: $grayaswhite;
                                    padding: 3%;
                                    width: 50%;
                                    height: 100%;

                                    .lead-text {
                                        font-size: 17px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .row.mg-none {
                margin: 0 -40px;

                .col-md-6 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 350px;

                    .container {
                        .stats-text {
                            font-size: 25px;
                        }
                    }

                    .chart-heading {
                        font-size: 25px;
                        color: $grayaswhite;
                        margin: 0 0 35px;
                    }

                    .chart {
                        width: 100%;
                        height: 70%;
                    }
                }
            }

            ul.row {
                list-style-type: none;
                padding: 0;
                margin: 0 -40px;

                li.event.col-md-6 {
                    padding: 40px;
                    position: relative;

                    &:nth-child(4n),
                    &:nth-child(4n+1) {
                        color: black;
                        background-color: $grayaswhite;

                        .sub-heading {
                            font-size: 25px;
                            color: $themblue;
                            text-shadow: 2px 2px 3px $grayaswhite;
                            font-weight: bold;
                        }
                    }

                    &:nth-child(4n+2),
                    &:nth-child(4n+3) {
                        color: $grayaswhite;
                        background-color: none;

                        .sub-heading {
                            font-size: 25px;
                            color: $grayaswhite;
                            text-shadow: 2px 2px 3px $themblue;
                            font-weight: bold;
                        }
                    }

                    h3 {
                        margin: 0 0 20px;
                    }

                    img {
                        float: right;
                        max-width: 200px;
                        margin: -90px 0 0;
                    }

                    .overlay {
                        display: none;

                        .container {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0.7);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            p {
                                font-size: 20px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        &#page2 {
            .col-md-6 {
                padding: 0;

                &.left-content {
                    .container {
                        margin: 0 0 0 40px;

                        table {
                            font-size: 17px;
                            width: 80%;

                            tr {
                                text-align: left;

                                td {
                                    padding: 1px 0;

                                    &.cell-left {
                                        font-weight: bold;
                                        color: $themblue;
                                        vertical-align: top;
                                    }

                                    &.cell-right {}
                                }
                            }
                        }
                    }
                }

                &.right-content {
                    ul {
                        font-size: 17px;
                        padding: 0;
                    }
                }
            }
            // }
        }
    }
}
//fixed

.fixed {
    .background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: url("../../images/tokyo-night.jpg") no-repeat;
        z-index: -1;
    }

    .mentor {
        position: fixed;
        top: 59px;
        right: 0;
        width: 250px;
        background-color: $themblue;
        z-index: 2;
        display: flex;
        flex-direction: row;

        .toggle {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 25px;
            background-color: $grayaswhite;
            cursor: pointer;

            p {
                font-size: 20px;
                font-weight: bold;
                margin: 35px 0;
                text-align: center;
            }
        }

        .container {
            height: 100%;
            margin: 5%;

            a {
                background-color: $grayaswhite;
                color: $themblue;
                font-weight: 600;
                border: 2px solid $grayaswhite;
                padding: 1% 5%;
                margin: 2% 10%;
                width: 180px;

                p {
                    margin: 0;
                }

                &:hover {
                    background-color: $themblue;
                    color: $grayaswhite;
                }
            }
        }
    }

    .subscribe-button {
        position: fixed;
        bottom: 1%;
        right: 1%;
        z-index: 2;
        display: flex;
        align-items: flex-end;

        a {
            color: $grayaswhite;
            background-color: $themblue;
            border: 3px solid $themblue;
            border-radius: 25px;
            margin: 0 1%;

            &.req{
                width: 240px;
            }
            &.sub{
                width: 120px;
            }

            p {
                margin: 0;
            }

            &:hover {
                color: $themblue;
                background-color: $grayaswhite;
                font-weight: 700;
            }
        }
    }
}
